<div class="container">

  <div class="flex-center mt-4" >
    <div class="counter">
      <span id='restaurantCount' ><%= @restaurant_count %></span> 
    </div>

    <%# click on this button %>
    <button id='counterButton' class="btn btn-outline-secondary">Refresh counter</button>
  </div>

</div>