<h1>Restaurants</h1>

<%# add the controller to the element that wraps both of them up %>
<div class="container">

  <div data-controller='counter'>
    <h2>Number of Restaurants</h2>
    <p data-counter-target='restaurantCount'></p>
  </div>
  
</div>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <%= link_to restaurant.name, restaurant_path(restaurant) %> | 
      <%= link_to 'delete', 
                  restaurant_path(restaurant), 
                  method: :delete,
                  remote: :true %>
    </li>
  <% end %>
</ul>
